<wuza-recipe title="Asiatisches Honig Poulet" [ingredients]="ingredients">
  <li>Das <span class="highlight">Poulet mit Salz und Pfeffer</span> würzen und mit etwas Olivenöl anbraten.</li>
  <li>Die <span class="highlight">Zwiebeln</span> in einem mittigen Loch ebenfalls mitanbraten.</li>
  <li>Die <span class="highlight">restlichen Zutaten</span> (ohne Sesamkerne) in einem separaten Topf vermengen und aufkochen.</li>
  <li>Sobald die Sauce etwas eingedickt ist, der Bratpfanne beifügen.</li>
  <li>Mit Jasminreis und Gemüse servieren. Mit einigen <span class="highlight">Sesamkernen</span> bestreuen.</li>
</wuza-recipe>
