<wuza-recipe title="Gekochte Bananen" [ingredients]="ingredients">
  <li>Den <span class="highlight">Zucker</span>, <span class="highlight">Zimt</span> und die <span class="highlight">Butter</span> erhitzen bis der Zucker karamellisiert.</li>
  <li>Die Masse kurz etwas abkühlen lassen und dann den kalten (damit der Alkohol nicht komplett verdampft) <span class="highlight">Rum</span> dazugeben.</li>
  <li>Die <span class="highlight">geviertelten Bananen</span> in die heisse - aber nicht kochende - Masse geben und leicht weichkochen.</li>
  <li>Auf die <span class="highlight">Eiskugeln</span> die warme Bananenmasse geben und sofort servieren.</li>
</wuza-recipe>
