<wuza-recipe title="Waffeln (glutenfrei)" [ingredients]="ingredients">
  <li><span class="highlight">Butter, Zucker und Vanillezucker</span> schaumig rühren.</li>
  <li><span class="highlight">Eier</span> trennen. Das <span class="highlight">Eiweiss</span> mit etwas Salz schaumig schlagen.</li>
  <li>Das <span class="highlight">Eigelb, die Milch, das Mehl und das Backpulver</span> unterrühren.</li>
  <li>Zum Schluss das <span class="highlight">Eiweiss</span> unterheben.</li>
  <li>Im heissen Waffeleisen ausbacken. Zuvor jeweils mit <span class="highlight">Öl</span> bepinseln.</li>
  <li>Die Waffeln auf dem Rost auskühlen lassen, damit sie knustprig werden.</li>
</wuza-recipe>
