<wuza-recipe title="Basmati Reis" [ingredients]="ingredients">
  <li>Den <span class="highlight">Reis</span> gut in warmen Wasser waschen.</li>
  <li>Das Wasser vom Waschen gut ableeren und das abgemessene <span class="highlight">Wasser</span> in einen Kochtopf mit dem Reis geben.</li>
  <li>Auf voller Flamme das Wasser <span class="highlight">zum leichten Kochen</span> bringen.</li>
  <li>
    <span class="highlight">Salz</span> hinzugeben. <span class="highlight">Hitze abstellen</span>.
    <span class="highlight">Deckel</span> drauf und <span class="highlight">15 Minuten</span> auf der Platte stehen lassen.
  </li>
</wuza-recipe>
