<div id="main_project_secguard">
  <h1>SecGuard</h1>
  <p wuzaSlideInto>
    Die Masterarbeit entstand im Rahmen des Studiengangs Human-Computer Interaction Design (HCID)
    und befasst sich mit der Neugestaltung eines Informationsmanagementsystems für die physische Sicherheit.
    Die vollständige Arbeit unterliegt einer Haltefrist von drei Jahren und darf
    erst ab dem 24. Januar 2029 veröffentlicht werden.
  </p>

  <div class="blockquote text-justify">

    <h2>Abstract</h2>
    <p wuzaSlideInto>
      Informationsmanagementsysteme für die physische Sicherheit (PSIM-Systeme) werden von
      Operator:innen in Einsatzleitstellen genutzt, um eingehende Alarme entgegenzunehmen und
      angemessene Massnahmen zu ergreifen.
    </p>

    <p wuzaSlideInto>
      Im Auftrag eines Softwareherstellers wurde das Design eines bestehenden PSIM-Systems in einem
      nutzerzentrierten, iterativen Prozess überarbeitet. In einer Sicherheitszentrale wurde eine
      Beobachtungs-/Befragungsstudie (Contextual Inquiry) mit 12 Operator:innen durchgeführt. Auf der
      Grundlage der Ergebnisse wurden empirisch validierte Versionen einer User Journey sowie von
      Personas erstellt.
    </p>

    <p wuzaSlideInto>
      Ergänzend wurden kognitive Arbeits- und Entscheidungsprozesse mittels Hierarchical Task Analysis
      untersucht. Anschliessend wurde in einem strukturierten Design-Prozess ein Mixed-Fidelity-Prototyp
      – SecGuard – erstellt, der zentrale Schritte der User Journey abbildet.
    </p>

    <p wuzaSlideInto>
      SecGuard wurde an 6 Operator:innen im Feld getestet, und die Ergebnisse wurden in eine zweite
      Iteration des Prototyps umgesetzt. Die zweite Iteration des Prototyps wurde wiederum an
      10 Operator:innen im Feld getestet.
    </p>

    <p wuzaSlideInto>
      Die Ergebnisse zeigen, dass SecGuard zentrale Herausforderungen im Arbeitsalltag von
      Operator:innen adressiert, insbesondere durch eine stärker aufgabenorientierte Funktionalität,
      die Bündelung bislang verteilter Funktionen und Informationen in einem System sowie eine klar
      strukturierte und reduzierte Benutzeroberfläche.
    </p>

    <p wuzaSlideInto>
      Dadurch wird ein transparenter und konsistenter Arbeitsprozess unterstützt, der die
      Entscheidungsfindung erleichtert. Produktstrategische Fragen sowie Empfehlungen für das weitere
      Vorgehen werden diskutiert.
    </p>

  </div>
</div>

