:host > div {
  height: 400px;
  background: url("/assets/img/404.jpg") no-repeat left bottom;
  background-size: 100% 100%;

  h1 {
    font-style: italic;
    line-height: 1.2em;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: -2px;

    span {
      display: block;
      font-size: 24px;
      line-height: 1;
      font-variant: normal;
      text-transform: none;
      letter-spacing: -1px;
    }
  }

  ul {
    display: flex;

    li {
      margin-top: 175px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
