<wuza-recipe title="Züri-Döner" [ingredients]="ingredients">
  <li>
      Das <span class="highlight">Fleisch mit Butter</span> anbraten.
      Mit wenig <span class="highlight">Mehl</span> bestreuen und mit <span class="highlight">Salz und Pfeffer</span> würzen.
  </li>
  <li>Das Fleisch herausnehmen. Nun die <span class="highlight">Zwiebeln und Paprikas</span> mit etwas Öl anbraten.</li>
  <li>Mit dem <span class="highlight">Weisswein oder Whiskey</span> ablöschen. Den Alkohol etwas einkochen lassen.</li>
  <li>Die <span class="highlight">Meisstärke mit der Bouillon</span> anrühren. Gemisch und den <span class="highlight">Rahm</span> in die Pfanne geben. Aufkochen.</li>
  <li>Die Hitze reduzieren. Das Fleisch und <span class="highlight">Champignons</span> beigeben.</li>
  <li><span class="highlight">Rösti</span> gemäss Packungsbeilage anbraten. <span class="highlight">Tortillas</span> im Ofen oder der Mikrowelle warm machen.</li>
  <li>Servieren. Die Tortillas mit Joghurt bestreichen und mit Rösti und Fleisch befüllen. Etwas Petersilie beilegen. En Guete!</li>
</wuza-recipe>
