<wuza-recipe title="Kuchen" [ingredients]="ingredients">
  <li><span class="highlight">Butter und Zucker</span> schaumig mischen.</li>
  <li><span class="highlight">Eier</span> dazurühren. (Je länger man die Eier mixt, desto luftiger und trockener wird er. Also möglichst kurz mixen.) Dann die <span class="highlight">Milch und schliesslich das Mehl</span>.</li>
  <li><span class="highlight">Backpulver, Vanillezucker und Salz</span> unterrühren.</li>
  <li>Kuchenform mit Butter ausstreichen und mit Mehl bestäuben.</li>
  <li>Bei <span class="highlight">170 °C für 50 bis 55 Minuten</span> backen.</li>
  <li>Zum Auskühlen Alufolie drüberstülpen.</li>
</wuza-recipe>

<!-- <h3>Optionale Glasur</h3> TODO fix me
<ol class="steps noselect">
    <li>Der Kuchen muss <span class="highlight">komplett ausgekühlt</span> sein.</li>
    <li>Die <span class="highlight">Schokolade</span> in der Mikrowelle oder im Wasserbad schmelzen.</li>
    <li>Dann die <span class="highlight">Lebensmittelfarbe</span> mit der geschmolzenen Schokolade vermengen.</li>
    <li>Den Kuchen auf ein Gitter stellen. Die Schokolade darübergiessen und verteilen. Trocknen lassen.</li>
</ol> -->