<wuza-recipe title="Spaghetti Bolognese" [ingredients]="ingredients">
  <li>Die <span class="highlight">Zwiebeln</span> auf <span class="highlight">hoher Stufe in Öl</span> anbraten.</li>
  <li>Das <span class="highlight">Fleisch</span> dazugeben und gut anbraten.</li>
  <li>
      In der Pfanne ein <span class="highlight">kleines Loch</span> freimachen und das <span class="highlight">Tomatenmark</span> hineingeben.
      Dazu <span class="highlight">2 EL Zucker</span> und <span class="highlight">etwas Salz</span>.
  </li>
  <li><span class="highlight">Knoblauch</span> dazugeben, alles vermischen und die <span class="highlight">Hitze etwas zurückstellen</span>.</li>
  <li>Die <span class="highlight">Tomatensauce</span> in die Pfanne geben, die Flasche mit ca. <span class="highlight">1dl Wasser</span> füllen, schütteln und ebenfalls hinzuleeren.</li>
  <li>Mit <span class="highlight">Salz und Zucker</span> abschmecken.</li>
  <li>Bei <span class="highlight">kleinster Stufe für zwei Stunden</span> ziehen lassen.</li>
</wuza-recipe>
