<wuza-recipe title="Cheesecake" [ingredients]="ingredients">
  <li>Kuchenform mit <span class="highlight">Butter</span> einstreichen und mit <span class="highlight">Mehl</span> bestäuben.</li>
  <li><span class="highlight">Butterkekse</span> zerbröseln. Die <span class="highlight">Butter</span> zerlassen. Kekse, Butter und <span class="highlight">Zucker</span> vermengen und in die Kuchenform als Boden hineindrücken.</li>
  <li>Die Zutaten für den Belag gut vermengen. Von der Zitrone die Schale sovie den Saft verwenden.</li>
  <li>Die Masse in die Kuchenform geben. Bei <span class="highlight">220 °C Umluft für ca. 12 Minuten</span> backen. Der Deckel soll schön golden werden.</li>
  <li>Danach für <span class="highlight">ca. 55 Minuten bei 90 °C</span> weiter backen. Im Ofen auskühlen lassen; dann fällt er nicht zusammen.</li>
  <li>Vor dem Servieren mindestens für <span class="highlight">4 Stunden im Kühlschrank</span> kühlen.</li>
</wuza-recipe>
