<wuza-recipe title="Frittata" [ingredients]="ingredients">
  <li><span class="highlight">Gemüse und Wienerli</span> schneiden.</li>
  <li><span class="highlight">Speck und Wienerli anbraten</span>. Dann das <span class="highlight">Gemüse</span> salzen und anbraten. Etwas weiterdämpfen lassen.</li>
  <li>Etwas <span class="highlight">Mehl und Zitronensaft</span> darübergeben.</li>
  <li>In einer Schüssel die <span class="highlight">Eier</span> aufschlagen. <span class="highlight">Käse, Milch, etwas Mehl, Salz, Pfeffer und Kräuter</span> dazumischen.</li>
  <li>Gratinform mit <span class="highlight">Butter</span> ausstreichen. Gemüse hineingeben und Käsemischung dazugeben.</li>
  <li>Etwa <span class="highlight">25-35 Minuten bei 180 °C</span> backen.</li>
</wuza-recipe>
