<div *ngIf="ingredients && title" class="recipe fade-in-move-down">

  <h1><span class="bubbles">{{title}}</span></h1>

  <div class="recipe_wrapper">
      <h2>Zutaten</h2>
      <div class="row">
        <div class="col-md-6 no-padding-left">
          <ul class="ingredients checkable noselect">
            <li *ngFor="let ingredient of ingredients"
                (click)="toggleClass($event,'checked')"
                (touchend)="toggleClass($event,'checked')"
            >{{ingredient}}</li>
          </ul>
        </div>
        <div class="col-md-6 no-padding-left no-padding-right noselect">
          <wuza-image-slider [images]="images"></wuza-image-slider>
        </div>
      </div>
  </div>

  <h2>Zubereitung</h2>
  <ol class="steps noselect">
    <ng-content></ng-content>
  </ol>

</div>
