<div id="main_project_rock_the_ring" class="fade-in-move-down">

  <h1>Rock the Ring</h1>
  <p>
    Für das Festival «Rock the Ring» wurde eine neue, moderne Website erstellt.
    Zusätzlich wurden moderne Lösungsansätze mit nativen Smartphone-Funktionen
    (wie Ticketkäufe per Siri und Apple Pay) mittels React Native entworfen.
  </p>

  <video poster="/assets/img/projects/rockthering_cover.jpg" controls muted autoplay loop class="img-responsive fade-in-move-down">
    <source src="/assets/img/projects/rockthering.mp4" type="video/mp4">
    Leider kann das Video nicht abgespielt werden.
  </video>

  <h2>Ausgangslage und Problem</h2>
  <p>
    Diese Projektarbeit beschäftigte sich mit dem Design und dem Erstellen einer neuen und moderneren
    Website für das Festival Rock the Ring.
    Die bisherige Website von Rock the Ring war veraltet und braucht ein neues, innovatives und ansprechendes Design.
  </p>

  <h2>Ziel</h2>
  <p>
    Eine Website in einem neuen Design für das Festival sollte erstellt werden.
    Zum aktuellen Stand des Entwurfs sollen mögliche zukünftige Erweiterungen inklusive Kostenschätzung vorgestellt werden.
  </p>

  <h2>Ergebnis</h2>
  <p>
    Ein funktionsfähiger Prototyp wurde erstellt und präsentiert.
    Eine weiterführende Version wurde ausgearbeitet und zur Abgabe fertiggestellt.
    Mögliche Erweiterungen mit aktuellsten Technologien wurden inklusive einer Kostenschätzung aufgezeigt.
  </p>

  <img class="img-responsive img-rounded" src="/assets/img/projects/rockthering_applepay.jpg?1" alt="Apple Pay" />

</div>
