<wuza-recipe title="Pancakes (glutenfrei)" [ingredients]="ingredients">
    <li>Die <span class="highlight">Butter</span> in der Mikrowelle kurz verflüssigen.</li>
    <li>Dann zur Butter den <span class="highlight">Zucker, das Ei, die Milch und den Quark</span> untermischen.</li>
    <li>Zum Schluss das <span class="highlight">Mehl, Backpulver und Natron</span> gut unterrühren.</li>
    <li>Etwas Butter in die Pfanne und dann Teigkreise bei mittlerer Hitze anbraten, bis sich Bläschien bilden. Dann wenden.</li>
</wuza-recipe>
