<wuza-recipe title="Crème" [ingredients]="ingredients">
  <li>Falls Schokoladencrème: Die Schokolade vorher im Wasserbad <span class="highlight">schmelzen</span>.</li>
  <li><span class="highlight">Alle Zutaten</span> in eine Pfanne geben und unter <span class="highlight">ständigem Rühren</span> zum Kochen bringen.</li>
  <li>Einige Minuten weiterkochen und dann in ein <span class="highlight">kühles Gefäss</span> leeren.</li>
  <li>Die Crème <span class="highlight">abkühlen lassen</span> und immer wieder etwas <span class="highlight">umrühren</span>, dass sich keine Haut bildet.</li>
  <li>Ist die Crème nicht mehr warm; zum Auskühlen in den <span class="highlight">Kühlschrank</span> geben.</li>
</wuza-recipe>
