<wuza-recipe title="Glühwein" [ingredients]="ingredients">
  <li>Den <span class="highlight">Zucker</span> im <span class="highlight">Wein</span> auflösen.</li>
  <li><span class="highlight">Orange</span> schneiden, den Saft etwas in den Wein auspressen. <span class="highlight">Nelken und Zimt</span> dazugeben.</li>
  <li>Den Wein auf <span class="highlight">mittlerer Hitze</span> kurz aufkochen. Dann sofort der Hitze nehmen und zugedeckt ziehen lassen.</li>
  <li>Vor dem Servieren nochmals kurz erwärmen. </li>
  <li>Achtung: Der Wein sollte <span class="highlight">nicht kochen</span>, da sonst der Alkohol verdampft!</li>
</wuza-recipe>
