<wuza-recipe title="Mojito" [ingredients]="ingredients">
  <li>Die <span class="highlight">Limetten</span> waschen, die Enden abschneiden und dann achteln. Mit dem <span class="highlight">Zucker und der Minze</span> in einen Behälter geben.</li>
  <li>Mit einem Mörser etwas zerdrücken - nicht zermatschen!</li>
  <li>Mit <span class="highlight">Rum und Wasser</span> ca 1:1 auffüllen. <span class="highlight">Eis</span> dazugeben zum Kühlen.</li>
  <li>Zum Servieren Gläser halb mit <span class="highlight">crushed Ice</span> füllen, <span class="highlight">Mojito</span> hinzugeben und mit ein paar <span class="highlight">Minzblättern</span> dekorieren.</li>
</wuza-recipe>
