<div id="main_project_teso_addons">

  <h1>TESO Add-ons</h1>
  <p wuzaSlideInto>
    Um meine Kenntnisse mit LUA auszubauen und mehr Erfahrung in der allgemeinen Add-on-Entwicklung zu erhalten,
    habe ich mich etwas mit der <a href="https://wiki.esoui.com/Main_Page" target=_blank>TESO-API</a> beschäftigt
    und bisher drei Add-ons entwickelt, welche ich nachfolgend näher beschreibe. Inzwischen (Stand vom September 2017)
    wurden sie gesamthaft bereits über 10'000-mal über <i>esoui.com</i> heruntergeladen.
  </p>

  <h2>Merlin's Rez Helper</h2>
  <wuza-image-slider id="rez_slider" wuzaSlideInto [images]="imagesRez" class="right small-margin-left"></wuza-image-slider>

  <p wuzaSlideInto>
    Das Add-on gibt es über <a href="https://github.com/just-me-/MerlinsRezHelper" target=_blank>GitHub</a>
    oder direkt von <a href="http://www.esoui.com/downloads/info1600-MerlinsRezHelper.html" target=_blank>esoui.com</a>.
  </p>
  <p wuzaSlideInto>
    Im Eifer des Gefechts kann es ab und zu mal vorkommen, dass man wegen all den Effekten tote Gruppenmitglieder
    nur schwer findet oder teils gar nicht bemerkt, dass jemand den Löffel abgegeben hat.
    Im High-End-Content kann aber jede Sekunde zählen, die gebraucht wird, bis ein Gruppenmitglied wiederbelebt wurde.
  </p>
  <p wuzaSlideInto>
    Genau da setzt dieses Add-on an; es hilft dem Spieler, tote Gruppenmitglieder so schnell wie möglich
    wiederzubeleben und so in den Kampf zurückzubringen.
    Sobald ein Gruppenmitglied gestorben ist, wird ein Pfeil angezeigt, welcher zum nächstgelegenen, toten Gruppenmitglied navigiert.
    Optional ändert sich das Anzeigesymbol sogar, sobald man in der unmittelbaren Nähe eines Spielers steht.
    Dies soll dabei helfen, dass man nicht aus Versehen <i>auf</i> einem toten Spieler steht, ohne es zu bemerken.
    Falls niemand in der Gruppe tot ist, wird natürlich auch kein Pfeil angezeigt.
  </p>
  <p wuzaSlideInto>
    Es gibt eine Vielfalt an Optionen für die Pfeildarstellungen; für dessen Layout, Grösse und Transparenz.
    Ausserdem gibt es verschiedene Soundbenachrichtigungen zur Auswahl, welche auf frisch gestorbene Gruppenmitglieder hinweisen.
    Diese Erweiterung unterstützt - sowie all meine Add-ons - nebst der Sprache Deutsch auch Englisch.
  </p>

  <h2>Merlin's Heal Helper</h2>
  <wuza-image-slider id="heal_slider" wuzaSlideInto [images]="imagesHeal" class="right small-margin-left"></wuza-image-slider>

  <p wuzaSlideInto>
    Dieses Add-on gibt es über <a href="https://github.com/just-me-/MerlinsHealHelper" target=_blank>GitHub</a>
    oder direkt von <a href="http://www.esoui.com/downloads/info1599-MerlinsHealHelper.html" target=_blank>esoui.com</a>.
  </p>
  <p wuzaSlideInto>
    Spielt man die Rolle des Heilers, so ist diese Erweiterung eine optimale, aber dezente Hilfe.
    Sobald das Leben eines Gruppenmitglieds unter einen definierten Prozentwert sinkt,
    wird sofort eine Benachrichtigung eingeblendet.
    Falls jemand ausser Reichweite ist und Heilung benötigt, wird ebenfalls eine (andere) Nachricht angezeigt.
    Sobald die nötige Heilung gewirkt wurde, verschwindet die Meldung natürlich wieder.
  </p>

  <h2>Merlin's Raid Helper</h2>
  <p wuzaSlideInto>
    Da dieses Add-on noch nicht all jene Grundfunktionen besitzt, welche geplant sind,
    wurde es noch nicht auf <i>esoui.com</i> öffentlich gestellt.
    Man kann den Zwischenstand jedoch über <a href="https://github.com/just-me-/MerlinsRaidHelper" target=_blank>GitHub</a> beziehen.
  </p>
  <wuza-image-slider wuzaSlideInto id="raid_slider" [images]="imagesRaid" class="right small-margin-left"></wuza-image-slider>

  <p wuzaSlideInto>
    Mit diesem Add-on werden die DPS-Werte aller Gruppenmitglieder mit der gesamten Gruppe oder
    nur mit der Raidleitung geteilt. Zusätzlich liefert diese Erweiterung auch kleine
    Hilfen für die Raidleitung wie beispielsweise einen Pausentimer, durch welchen man
    einen Timer bei allen Raidtailnehmer initialisieren kann,
    sowie eine rdy-Check-Funktion, durch welche die Namen der noch nicht wieder anwesenden Teilnehmer gelistet werden.
  </p>
  <p wuzaSlideInto>
    Da ich momentan kein Interesse mehr an TESO habe, steht noch kein Zeitpunkt fest, bis zu welchem
    dieses Add-on fertiggestellt sein wird.
    Ich bemühe mich jedoch weiterhin darum, zumindest für die beiden anderen Add-ons nötige
    API-Updates zu liefern, damit sie lauffähig bleiben.
  </p>
</div>
