<div class="relative">

  <!-- $this->getGitHubRibbon(); -->

  <h1>Projekte</h1>
  <p>
    In diesem Bereich ist ein Auszug meiner Projekte gelistet.
    Für genauere Details zu den jeweiligen Projekten, kann via die jeweilige Verlinkung der Überschrift das Projekt geöffnet werden.
    Die meisten Projekte sind auf <a href="https://github.com/just-me-" target=_blank>GitHub</a> einzusehen.
  </p>

  <!-- all projects -->
  <ul class="timeline noselect">
    <li *ngFor="let project of projects; let i = index">
        <div [ngClass]="{'direction-l': 0 === i % 2, 'direction-r': 0 !== i % 2}">
            <div class="flag-wrapper">
                <span class="flag">
                  <a *ngIf="project.link; else noLink" class="colorful" [routerLink]="project.link">{{project.title}}</a>
                  <ng-template #noLink>{{project.title}}</ng-template>
                </span>
                <span *ngIf="project.time" class="time-wrapper"><span class="time">{{project.time}}</span></span>
            </div>
          <div *ngIf="project.content" class="desc" data-aos="zoom-in">{{project.content}}</div>
        </div>
    </li>
  </ul>

</div>
