<div id="main_project_js_mario">

  <h1>Mario</h1>

  <p>
    Dieses kleine JavaScript-Spiel für gängige Browser war das Resultat einer kleinen Nachmittagsspielerei mit Game Loops.
    Das Produkt war relativ simpel: Der Spieler kann den Charakter mit den Pfeiltasten nach links und rechts laufen lassen
    und muss so den herunterfallenden Bomben ausweichen.
    Gelingt dies nicht - sprich der Charakter wird von einer Explosion getroffen - ist das Spiel vorbei und kann neu gestartet werden.
  </p>


  <h2>Zukunftsplanung</h2>
  <p>
    Es ist geplant, das Programm neu in Swift zu schreiben - inklusive einer bereits bestehenden Liste vieler spielerischen Erweiterungen.
    In einem iOS-Mini-Spiel kann man dann auch nicht mehr so leicht schummeln wie bei einem JS Spielchien ;-)
  </p>

  <img class="img-responsive img-rounded" src="/assets/img/projects/js_mario_screen.gif" alt="JavaScript Mario Bildschirmfoto" />

</div>
