<wuza-recipe title="Curry" [ingredients]="ingredients">
  <li>Das <span class="highlight">Poulet</span> in etwas Öl anbraten. Mit <span class="highlight">Salz und Pfeffer</span> würzen.</li>
  <li>Dann das geschnittene <span class="highlight">Gemüse</span> mit etwas <span class="highlight">Salz</span> ebenfalls anbraten und anschliessend etwas dünsten.</li>
  <li>Die <span class="highlight">Curry Paste</span> mit dem Gemüse vermengen. Warm werden lassen.</li>
  <li>Mit der <span class="highlight">Kokusnussmilch</span> aufgiessen und kurz aufkochen.</li>
  <li>Hitze reduzieren. <span class="highlight">Bohnen und geschnittenen Mais</span> hinzugeben und warm werden lassen.</li>
  <li>Mit Jasminreis und <span class="highlight">Naturjoghurt</span> servieren.</li>
</wuza-recipe>
