<wuza-recipe title="Tiramisu" [ingredients]="ingredients">
  <li>Die <span class="highlight">Eier</span> trennen. Dann <span class="highlight">Eiweiss</span> steif schlagen zusammen mit einer Prise <span class="highlight">Salz</span>.</li>
  <li><span class="highlight">Mascarpone, Eigelb und Zucker</span> luftig vermischen.</li>
  <li><span class="highlight">Eiweiss</span> vorsichtig darunterheben.</li>
  <li><span class="highlight">Früchte</span> mit einem EL Wasser und einem EL Zucker aufkochen.</li>
  <li>Eine Schicht <span class="highlight">Löffelbiskuit</span>, eine Schicht Früchte, eine Schicht Mischung usw. stapeln.</li>
  <li>Anmerkung: Anstelle von Früchte kann man auch starken <span class="highlight">Kaffee</span> verwenden. Dann die Biskuit jeweils im Kaffee
  wenden - aber nicht den Kaffee einfach <i>drübergiessen</i>, damit der Kaffe von der Mischung getrennt bleibt.</li>
  <li>Für <span class="highlight">fünf Stunden</span> oder über die Nacht im Kühlschrank kühl stellen.</li>
</wuza-recipe>
