<wuza-recipe title="Kastanien-Kuchen" [ingredients]="ingredients">
  <li>Die <span class="highlight">weiche Butter</span> mit dem <span class="highlight">Zucker</span> verrühren.</li>
  <li><span class="highlight">Eier</span> trennen und das Eigelb unterrühren, bis die Masse heller wird.</li>
  <li><span class="highlight">Marroni-Püree, Grappa und Zitronen-Saft und -Schale</span> dazugeben.</li>
  <li><span class="highlight">Eiweiss</span> mit einer <span class="highlight">Prise Salz</span> steif schlagen.</li>
  <li><span class="highlight">4 EL Zucker</span> dazu mixen. Den Schaum unter die Masse heben.</li>
  <li>Im Ofen bei <span class="highlight">200 °C für 40 Minuten</span> backen.</li>
  <li>Sobald der Kuchen etwas abgekühlt ist, aus der Form heben und für mindestens 2 Stunden in den Kühlschrank stellen.</li>
</wuza-recipe>
