<wuza-recipe title="Persischer Reis" [ingredients]="ingredients">
  <li>Den <span class="highlight">Reis</span> für mindestens eine Stunde im Salzwasser stehen lassen.</li>
  <li>Wasser im Reiskocher erhizen.</li>
  <li><span class="highlight">Salz</span> hinzugeben und dann den abgeleerten Reis. Für ca. <span class="highlight">12 Minuten</span> ohne Deckel kochen lassen.<br/>
  Lässt sich ein Reisskorn mit wenig Kraft zerdrücken, ist der Reis fertig. Er muss aber noch eine leichte Härte haben!</li>
  <li>Den Reis ableeren. <span class="highlight">Öl</span> in den Reiskocher geben. Den Boden optional mit Kartoffelscheiben auslegen oder mit einem Mehlteig ausschwenken.</li>
  <li>Mehlteig: 2 EL Mehl, etwas Salz, 1 Spritzer Wasser - sodass ein dickflüssiger Teig entsteht. </li>
  <li>Etwas erhitzen lassen und dann den Reis darüber geben. Mit einem Stäbchien <span class="highlight">Löcher</span> in den Reis bis hin zum Boden machen.</li>
  <li>Optional: Einen TL Safran mit heissem(!) Wasser vermischen und über den Reis geben.</li>
  <li>Ein Tuch über den Topf und dann den Deckel drauf. Für ca. <span class="highlight">10 Minuten</span> ausdämpfen.</li>
</wuza-recipe>
