<wuza-recipe title="Waffeln" [ingredients]="ingredients">
  <li><span class="highlight">Butter, Zucker und Salz</span> gut vermischen.</li>
  <li><span class="highlight">Eier</span> unterrühren. Dann <span class="highlight">Milch und Mehl</span> dazugeben.</li>
  <li>Am Schluss das <span class="highlight">Backpulver</span> hinzufügen.</li>
  <li>Im heissen Waffeleisen ausbacken. Zuvor jeweils mit <span class="highlight">Öl</span> bepinseln.</li>
  <li>Die Waffeln auf dem Rost auskühlen lassen, damit sie knustprig werden.</li>
</wuza-recipe>
