<wuza-recipe title="Ananaskuchen" [ingredients]="ingredients">
    <li>Den Saft der Ananasdose abtropfen lassen - sollte etwa einen <span class="highlight">halben Cup Ananassaft</span> ergeben.</li>
    <li>Die <span class="highlight">Butter</span> zerlassen und etwas abkühlen lassen.</li>
    <li>Dann den <span class="highlight">Zucker, Vanillezucker</span> und die <span class="highlight">Eier</span> unterrühren.</li>
    <li>Den <span class="highlight">Ananassaft</span> dazugeben. Dann die Masse mit dem <span class="highlight">Mehl und Backpulver</span> vermischen.</li>
    <li>Die Kuchenform gut mit Butter einfetten und mit Mehl bestäuben.</li>
    <li>Dann den Boden mit etwas Rohrzucker ausstreuen. Anschliessend die Ananasscheiben auf dem Boden auslegen. 
    In die Lücken kommt jeweils eine Cocktailkirsche. Darüber nochmals eine kleine Schicht Rohrzucker.
    Dies sorgt für eine leckere Karamellisierung.
    </li>
    <li>Den Teig darübergeben und bei <span class="highlight">180 °C für 70 Minuten</span> backen.</li>
    <li>Gleich im Anschluss den Kuchen auf einen Teller stürzen, abdecken und auskühlen lassen.</li>  
</wuza-recipe>
