<wuza-recipe title="American Cookies" [ingredients]="ingredients">
  <li><span class="highlight">Butter</span> grob mixen. Dann <span class="highlight">Zucker, Vanillezucker, Salz und Eier</span> dazugeben.</li>
  <li>Erst die <span class="highlight">Schokolade</span>, dann das <span class="highlight">Mehl und Backpulver</span> darunterrühren.</li>
  <li>Den Teig mit 2 Teelöffeln auf dem Blech anordnen. Mit nassen Fingern die Plätzchen etwas flach drücken.</li>
  <li>Bei <span class="highlight">175 °C ca. 12 Minuten</span> backen, bis der Boden braun ist. Dann abkühlen lassen, damit sie hart werden.</li>
</wuza-recipe>
