<wuza-recipe title="Persischer Schwarztee" [ingredients]="ingredients">
  <li>Den Tee kann man sich im <span class="highlight">Teehaus</span> seines Vertrauens mischen lassen.</li>
  <li>Beim <span class="highlight">Kardamom</span> empfehle ich Samen. Ansonsten kann man auch Hülsen verwenden und die jeweils einzeln leicht aufbrechen. Pulver sollte man nicht nehmen.</li>
  <li>Auf eine Kanne (1l Wasser) <span class="highlight">3 TL Tee</span> verwenden und für <span class="highlight">3 Minuten</span> ziehen lassen.</li>
  <li>Hinweis: Möchtest Du die Intensivität des Tees variieren, verändere die Teemenge aber nicht die Ziehzeit. Sonst wird der Tee bitter.</li>
</wuza-recipe>
