<app-menu></app-menu>

<div class="main">

  <div class="container">
    <h1>Under Construction</h1>
    <p>Die Seite von WUZA.ch wird momentan überarbeitet und wird im Februar wieder verfügbar sein. Danke für Deine Geduld.</p>
    <p>Marcel Hess, Schützlerweg 6, 8560 Märstetten — hallo[at]wuza[dot]ch</p>

    <router-outlet></router-outlet>
  </div>

  <div class="footer noselect">
    <div class="right">Letzte Aktualisierung am ...</div>
    <div class="left">Von Marcel Hess</div>
  </div>

</div>
