.recipes {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, auto);

  // todo on mobile..

  .recipe {
    position: relative;
    a {
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        filter: grayscale(30%);
        opacity: .8;
        transition: opacity .75s ease-out, grayscale .75s ease-out;
      }
      span {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 0 0 10px 10px;
        left: 0;
        right: 0;
        bottom: 0;
        color: white;
        font-weight: 300;
        display: inline-block;
        padding: 8px;
        position: absolute;
        text-align: center;
        opacity: 1;
        transition: opacity .75s ease-out;
      }
      &:hover {
        span {
          opacity: 0;
        }
        img {
          filter: grayscale(0%);
          opacity: 1;
        }
      }
    }
  }
}
