<wuza-recipe title="Jelly Shots" [ingredients]="ingredients">
  <li>Den <span class="highlight">Wodka</span> kaltstellen.</li>
  <li><span class="highlight">Pulver, Zucker und Wasser</span> gemäss Packungsbeilage aufkochen.</li>
  <li>Das Gemisch leicht <span class="highlight">abkühlen</span> lassen und dann den <span class="highlight">kalten Wodka</span> hinzugeben.<br/>
  Hinweis: Wird der Wodka aufgekocht, verdampft der Alkohol.</li>
  <li>Die Mischung in kleine Gläser abfüllen und am besten <span class="highlight">über Nacht</span> in den Kühlschrank stellen.</li>
</wuza-recipe>
