<wuza-recipe title="Brownies (Vegan)" [ingredients]="ingredients">
  <li><span class="highlight">Schockolade und Kokosöl</span> schmelzen.</li>
  <li><span class="highlight">Zucker, Vanillezucker</span> und <span class="highlight">eine Prise Salz</span> unterrühren.</li>
  <li>Dann <span class="highlight">Mandeln, Mehl und Backpuler</span> dazugeben.</li>
  <li>Mit <span class="highlight">1.5 dl Wasser</span> und den <span class="highlight">gehackten Baumnusskernen</span> vermengen.</li>
  <li>Im Ofen bei <span class="highlight">180 °C für 30 Minuten</span> backen.</li>
</wuza-recipe>
