<wuza-recipe title="Persischer Safran Pudding" [ingredients]="ingredients">
  <li>Den Reis waschen und zusammen mit dem Zucker und <span class="highlight">6 dl Wasser</span> aufkochen.</li>
  <li>Bei halb aufgelegtem Deckel bei schwacher Hitze ca <span class="highlight">40 Minuten</span> kochen.</li>
  <li>Den <span class="highlight">Safran</span> in <span class="highlight">3 EL heissem Wasser</span> einweichen. Dann in den Reis geben.</li>
  <li><span class="highlight">Stärke mit Rosenwasser</span> vermengen und unter den Reis rühren. Kurz aufkochen.</li>
  <li>In Gläser abfüllen und auskühlen lassen. Anschliessend in den Kühlschrank stellen.</li>
</wuza-recipe>
