<wuza-recipe title="Lebkuchen" [ingredients]="ingredients">
  <li>Die <span class="highlight">trockenen Zutaten</span> mischen, dann die <span class="highlight">flüssigen</span> dazugeben und gut verrühren.</li>
  <li>Das Blech mit <span class="highlight">Backpapier</span> auslegen und dann den Boden mit <span class="highlight">Oblaten</span> überdecken. Die Mischung darübergiessen.</li>
  <li>Bei <span class="highlight">200 °C  für 25-30 Minuten</span> backen.</li>
  <li>Auskühlen lassen und in Formen schneiden.</li>
</wuza-recipe>

todo
<!-- <h3>Optionaler Zuckerguss</h3>
<ol class="steps noselect">
    <li>Das <span class="highlight">Eiweiss</span> vom Ei trennen.</li>
    <li>Das Eiweiss mit einer <span class="highlight">Prise Salz</span> steif schlagen.</li>
    <li>Den gesiebten <span class="highlight">Puderzucker</span> einrieseln lassen bis eine spritzfähige Masse entsteht.</li>
    <li>Die Masse in einen <span class="highlight">Spritzbeutel</span> geben und den Lebkuchen verzieren. Gut austrocknen lassen.</li>
</ol> -->
