<wuza-recipe title="Gebrannte Mandeln" [ingredients]="ingredients">
  <li>Den <span class="highlight">Zucker</span> in eine Pfanne geben. <span class="highlight">Wasser</span> unter Rühren hinzufügen, bis der Zucker gut flüssig ist. Erhitzen.</li>
  <li>Sobald sich der Zucker gelöst hat, die <span class="highlight">Mandeln, Zimt und Vanillezucker</span> hinzugeben und weiter kochen.</li>
  <li>Umrühren bis das Wasser ganz verdampft ist. Der Zucker kristalisiert erneut - weiter auf der Herdplatte rühren, bis sich der Zucker karamellisiert.</li>
  <li>Die Mandeln auf ein Stück Alufolie schütten und mit einer Gabel grob trennen - auskühlen lassen.</li>
</wuza-recipe>
