<div id="main_project_event" class="fade-in-move-down">

  <h1>Eventorganisation</h1>
  <div class="right small-margin-left">
    <wuza-image-slider class="fade-in-move-down" [images]="images"></wuza-image-slider>
  </div>

  <p>
    Für verschiedenste Events verschickt man normalerweise Einladungen per klassischen Postkarten.
    Aber viele davon könnte man auch als zeitgemässe, digitale Alternativen entwerfen und als Link verschicken.
  </p>
  <p>
    Mit nur wenigen Codezeilen sind moderne und animierte Einladungskarten erstellt.
    Ein paar animierte Schneeflocken, welche von oben nach unten fallen, für die Weihnachtseinladung beispielsweise.
    Man kann aber auch komplette Single-Pages inklusive Ablaufprogramm, Wegbeschreibug und interaktiver Anmeldung kreieren.
  </p>
  <p>
    Sogar sind ohne grossen Aufwand alle Teilnehmer auf einer GoogleMaps-Karte darstellen,
    um den Gästen individuelle Absprachen für Fahrgemeinschaften zu ermöglichen, falls gewünscht.
  </p>
  <p>
    Von kleinen Dekorationsmöglichkeiten bis zu praktischen Mehrwertsfunktionen - die Möglichkeiten sind beinahe
    unbegrenzt bei den digitalen Eventeinladungskarten.
  </p>

</div>
