<div id="main_project_mindsteps">
  <h1>Mindsteps: Nutzung durch Schüler:innen</h1>

  <p wuzaSlideInto>
    Diese Arbeit entstand im Rahmen der Praxisarbeit des CAS «User Research & Visioning» an der Ostschweizer Fachhochschule.
    Der CAS legte den Schwerpunkt auf die agile Planung, Durchführung und Auswertung von qualitativer und quantitativer Nutzerforschung.
    Vermittelt wurden unter anderem Methoden wie Interviews, Contextual Inquiries, Affinity Mapping,
    Inhaltsanalyse sowie Werkzeuge zur Integration von Research-Ergebnissen in den Designprozess, etwa durch
    Personas, User Journeys oder Opportunity Mapping.
  </p>
  <p wuzaSlideInto>
    Ziel der vorliegenden Praxisarbeit war es, die Nutzung der webbasierten Lernplattform Mindsteps durch Schüler:innen zu untersuchen.
    Im Fokus stand dabei die Frage, wie Mindsteps die Zielgruppe der Schüler:innen besser im Lernprozess unterstützen kann.
  </p>

  <h2>Abstract</h2>
  <p wuzaSlideInto>
    Das folgende Abstract fasst die Herangehensweise, Erkenntnisse und Reflexionen dieser Untersuchung zusammen.
  </p>
  <div class="blockquote text-justify">
    <h3>Thema und Resultate</h3>
    <p wuzaSlideInto>
      Mindsteps ist eine webbasierte Software, mit welcher Schüler:innen Unterrichtsstoff spielerisch mittels Übungen festigen,
      sowie sich auf kommende Prüfungen vorbereiten können. Obwohl Schüler:innen eine essenzielle
      Hauptzielgruppe – nebst Lehrer:innen und Schulleitungen – sind, wurden bisher keine Schüler:innen zu Mindsteps befragt.
      In dieser Arbeit wird dies nachgeholt. Mittels User Research wird erarbeitet, wie Mindsteps die Schüler:innen noch
      besser bei ihrem Lernprozess unterstützen könnte.
    </p>

    <h3>Methodik</h3>
    <p wuzaSlideInto>
      In unserer Arbeit gehen wir nach dem Modell des Collaborative UX Design (CUXD) von Steimle und Wallach [2022] vor:
      In einem Scoping-Workshop klären wir den Umfang und die Fragestellungen, die erforscht werden sollen.
      In der anschliessenden Research-Phase werden Contextual Inquiries mit 53 Schüler:innen durchgeführt.
      Ergänzt wird das Collaborative UX Design durch die Methode «Affinity Diagram» nach Goodwin [2009].
      Abschliessend werten wir unsere Forschungsergebnisse in der Synthese aus und leiten konkrete Empfehlungen
      zur Verbesserung von Mindsteps ab.
    </p>

    <h3>Ergebnisse und Reflexion</h3>
    <p wuzaSlideInto>
      Die primären Lernerkenntnisse, die das Team aus dem Arbeitsprozess gezogen hat, sind vielfältig
      und umfassen verschiedene Aspekte. Zunächst wurde die Bedeutung einer klaren Definition von Zielen
      sowie des Scopes zu Beginn des Projekts deutlich. Diese klare Abgrenzung half dabei, den Fokus der
      Forschung zu schärfen. Durch die Anwendung von Methoden wie der Annahmen-Map und der Proto-Problem-Statement-Map
      lernte das Team, komplexe Probleme zu strukturieren und greifbare Ziele zu definieren.
    </p>
    <p wuzaSlideInto>
      Während der Durchführung von Contextual Inquiries wurde deutlich, dass die Interaktion
      mit den Nutzer:innen nicht immer vorhersehbar ist. Dies erforderte eine flexible Fragetechnik
      sowie die Fähigkeit, auf unerwartete Reaktionen angemessen zu reagieren. Die Synthese umfangreicher
      Datenmengen stellte eine weitere Herausforderung dar, die eine sorgfältige Organisation und Strukturierung
      erforderte, um aussagekräftige Erkenntnisse zu gewinnen.
    </p>
    <p wuzaSlideInto>
      Darüber hinaus wurde festgestellt, wie wichtig Kommunikation für effektive Zusammenarbeit ist,
      insbesondere in der Bewältigung von Herausforderungen und der Lösung von Konflikten.
    </p>
  </div>
</div>

