<wuza-recipe title="Chinesisch Süss-Sauer" [ingredients]="ingredients">
  <li>Das <span class="highlight">Poulet</span> mit etwas Öl anbraten.</li>
  <li>Das Fleisch zur Seite stellen und dann das <span class="highlight">Gemüse</span> anbraten.</li>
  <li>In einen <span class="highlight">separaten Topf</span> den <span class="highlight">Zucker</span>,
    eine <span class="highlight">Prise Salz</span> und ca. <span class="highlight">2/3 des Wassers</span> geben.
    Auf der Herdplatte erwärmen und den <span class="highlight">Apfelessig, Ketchup und die Sojasauce</span> hinzufügen.
    Umrühren, bis sich alles aufgelöst hat.
    Dann die <span class="highlight">Ananasstücke inklusive Saft</span> hinzugeben.
  </li>
  <li>Zu dem <span class="highlight">restlichen Wasser</span> die <span class="highlight">Maisstärke</span> unterrühren.</li>
  <li>Das Gemisch der Sauce hinzuschütten und nochmals <span class="highlight">aufkochen</span> lassen.</li>
  <li>Nun die <span class="highlight">Sauce mit dem Gemüse und dem Fleisch</span> verrühren und noch etwas weiter köcheln lassen.</li>
  <li>Am besten mit <span class="highlight">Jasminreis</span> servieren.</li>
</wuza-recipe>
