<wuza-recipe title="Sizilianische Pasta" [ingredients]="ingredients">
  <li>Die <span class="highlight">Teigwaren</span> gemäss Packungsbeilage in Salzwasser kochen.</li>
  <li>Das <span class="highlight">Poulet</span> in etwas Olivenöl anbraten. Dann beiseite stellen.</li>
  <li><span class="highlight">1 EL Olivenöl</span> erhitzen. Die <span class="highlight">Kapern</span> darin knusprig braten.</li>
  <li>Die Kapern aus der Pfanne nehmen und zum Poulet stellen. Das aromatische Öl in der Pfanne lassen.</li>
  <li>Die <span class="highlight">halbierten Tomaten</span> ins Öl geben und mit dem <span class="highlight">Oregano</span> bestreuen. Etwas anbraten.</li>
  <li><span class="highlight">Zwei Kellen Nudelwasser</span> hinzugeben und köcheln lassen.</li>
  <li>Die Teigwaren abgiessen und mit der Sauce, den Kapern und dem Fleisch vermischen. Mit <span class="highlight">Salz und Pfeffer</span> abschmecken.</li>
</wuza-recipe>
