<div id="main_project_antenne" class="relative">

  <wuza-github-ribbon link="https://github.com/just-me-/newsfeed"></wuza-github-ribbon>

  <h1 class="fade-in-move-down">Newsfeed Antenne Märstetten</h1>
  <p class="fade-in-move-down">
    Mittels dem Framework React wurde ein Newsticker für die Bewohner von Märstetten implementiert.
    So können sich Interessenten individuell über aktuelle Ereignisse informieren, ohne dass
    an alle jeweils eine Mail verschickt werden muss.
  </p>

  <video poster="/assets/img/projects/antenne_cover.jpg" controls muted autoplay loop class="img-responsive">
    <source src="/assets/img/projects/antenne.mp4" type="video/mp4">
    Leider kann das Video nicht abgespielt werden.
  </video>
</div>
