<wuza-recipe title="French Toast" [ingredients]="ingredients">
  <li><span class="highlight">Eier</span> in einen flachen Teller aufschlagen.</li>
  <li>Pro Ei ein <span class="highlight">EL Milch</span> zugeben. Gut verrühren.</li>
  <li>Mit etwas <span class="highlight">Pfeffer und Salz</span> verfeinern.</li>
  <li>Die <span class="highlight">Brotscheiben</span> beidseitig in die Mischung tunken, dann mit etwas <span class="highlight">Butter</span> beidseitig goldig anbraten.</li>
</wuza-recipe>
