<wuza-recipe title="Enchiladas" [ingredients]="ingredients">
  <li><span class="highlight">Poulet</span> in etwas Öl anbraten. Gemüse schneiden.</li>
  <li><span class="highlight">Zwiebeln, Knoblauch, Peperoni</span> und <span class="highlight">Chilli</span> mitdünsten.</li>
  <li><span class="highlight">Tomatensauce, Mais</span> und <span class="highlight">Bohnen</span> hinzugeben.</li>
  <li>Mit <span class="highlight">Salz, Pfeffer und Paprikapulver</span> abschmecken. Koriander und Petersilie passen auch sehr gut.</li>
  <li>Die <span class="highlight">Tortillas</span> rollen und in einer Ofenform anrichten. Restliche Sauce und Käse darüber verteilen.</li>
  <li>Im Ofen bei <span class="highlight">200 °C für 25 Minuten</span> backen.</li>
</wuza-recipe>
