<wuza-recipe title="Chicken Pie" [ingredients]="ingredients">
  <li>Etwas <span class="highlight">Öl</span> in einer Pfanne erhitzen und die <span class="highlight">gehackten Zwiebeln</span>
      mit dem <span class="highlight">geschnittenen Poulet</span> etwa <span class="highlight">6 Minuten</span> anbraten.</li>
  <li>In einer separaten Pfanne die halbierten <span class="highlight">Pilze</span> für rund 4 Minuten bräunen.</li>
  <li>Die Pilze dann dem Fleisch beigeben und die Hälfte der <span class="highlight">Thymianblätter</span> in die Pfanne zupfen.</li>
  <li>Mit etwas <span class="highlight">Salz und Pfeffer</span> würzen.</li>
  <li>Die Mischung in eine Backform geben und den <span class="highlight">Rotweinessig</span>
      zusammen mit <span class="highlight">dem Wasser</span> unterrühren.</li>
  <li>Den Blätterteig über die Backform legen und die Ränder mit dem Kochlöffel unter die Masse schieben.</li>
  <li>Die Oberfläche gekreuzt einschneiden und mit etwas <span class="highlight">Olivenöl</span> bestreichen.</li>
  <li>Die restlichen <span class="highlight">Thymianzweige</span> in die Mitte stecken.</li>
  <li>Im Ofen bei <span class="highlight">200 °C für 15 Minuten</span> backen.</li>
</wuza-recipe>
