<div id="main_project_ibc" class="fade-in-move-down">

  <h1>IBC Switzerland Webauftritt</h1>

  <p>
    Das kleine Projekt, kurzfristig einen temporären Webauftritt produktiv zu stellen - bis eine ausgebaute Version fertiggestellt ist - wurde erfolgreich umgesetzt. <br/>

    Die Herausforderung lag darin, das Logo und das Layout gut abzustimmen.
    So wurde die Möglichkeit genutzt, etwas mit den CSS3 Hintergrundverläufen und Bootstrap zu spielen.
    Schliesslich gab es für alles einen ersten Anfang.

    Für das Folgeprojekt entstanden leider Verzögerungen bei den Textinhalten, welche auf Dauer schliesslich zur vorläufigen Einstellung der Arbeiten führten.
  </p>

  <img class="img-responsive img-rounded blocked_img" src="/assets/img/projects/ibc_screen.jpg" alt="Bildschirmfoto IBC" />

</div>
