<wuza-recipe title="Riz Casimir" [ingredients]="ingredients">
  <li>Das <span class="highlight">Poulet</span> mit etwas <span class="highlight">Butter</span> anbraten.</li>
  <li>Mit dem <span class="highlight">Curry</span> würze und mit dem <span class="highlight">Mehl</span> bestreuen. Etwas weiter dünsten.</li>
  <li>Mit der <span class="highlight">Bouillon</span> ablöschen. <span class="highlight">Fruchtsaft</span> (ohne Früchte) hinzugeben.</li>
  <li>Den <span class="highlight">Rahm</span> dazugeben und mit <span class="highlight">Salz und Pfeffer</span> würzen.</li>
  <li>Allenfalls die Sosse mit etwas <span class="highlight">Maisstärke</span> verdicken.</li>
  <li>Hitze reduzieren. <span class="highlight">Früchte</span> hinzugeben und etwas warm werden lassen.</li>
</wuza-recipe>
