<wuza-recipe title="Nidelwähe" [ingredients]="ingredients">
  <li>Für den <span class="highlight">Teig</span> alle Zutaten unterkneten (das Backpulver erst nach dem Mehl).</li>
  <li>Dann muss der Teig für <span class="highlight">15 Minuten</span> ruhen. Im Anschluss auf ein paar wenige Millimeter
  <span class="highlight">ausrollen</span>. (Lieber etwas zu dünn anstelle zu dick.)</li>
  <li>In eine <span class="highlight">Kuchenform</span> ein Backpapier auslegen und dann den Teig darüber ausbreiten.
      Mit einer <span class="highlight">Gabel</span> den Boden einstechen. 
      (Achtung: die Füllung soll nicht beim Backen auslaufen können).
  </li>
  <li>Den Backofen auf <span class="highlight">180°C</span> aufheizen und den Teig schon mal etwas <span class="highlight">vorbacken</span>. (max. 10 Minuten)</li>
  <li>Für die Füllung alle Zutaten <span class="highlight">cremig schlagen</span>. Die Kuchenform wieder aus dem Ofen nehmen und die Füllung hineinleeren.</li>
  <li>Nun ein paar <span class="highlight">Butterflocken</span> darin verteilen und zum Abschluss mit noch etwas <span class="highlight">Zucker</span> bestreuen.</li>
  <li>Im Ofen nun <span class="highlight">40 Minuten</span> (oder etwas weniger - bis der Teig schön golden ist) backen.</li>
  <li>Vor dem Servieren <span class="highlight">auskühlen</span> lassen; erst dann wird die Füllung fest.</li>
</wuza-recipe>
