<wuza-recipe title="Indisches Fladenbrot" [ingredients]="ingredients">
    <li><span class="highlight">Wasser und Hefe</span> mischen; für <span class="highlight">10 Minuten</span> stehen lassen.</li>
    <li><span class="highlight">Butter</span> schmelzen und abkühlen lassen.</li>
    <li><span class="highlight">Malz, Milch, Ei, Butter und Zucker</span> dazugeben.</li>
    <li><span class="highlight">Salz und Mehl</span> gut unterkneten. Am besten <span class="highlight">sieben Minuten</span> mit der Maschiene kneten lassen.</li>
    <li>Unter einem Tuch für mindestens <span class="highlight">eine Stunde</span> ruhen lassen.</li>
    <li>Kleine Teile abtrennen und dann dünn ausrollen.</li>
    <li>Wenig Öl in eine Pfanne geben und bei <span class="highlight">hoher Stufe</span> einzeln goldbraun ausbacken.</li>
</wuza-recipe>
