<h1><strong wuzaBubbles>WUZA</strong> - Stay&nbsp;Calm & Be&nbsp;Yourself</h1>
<p>
  Herzlich willkommen bei WUZA - einem Freizeitprojekt von Marcel Hess!
</p>

<p>
  Die Seite von WUZA.ch wird momentan überarbeitet und wird im <b>August 2025</b> wieder verfügbar sein. Danke für Deine Geduld.
</p>

<h2>Under construction &ndash; was wird überarbeitet?</h2>
<p>In einem ersten Schritt wird die alte PHP-Website migriert, um die Kernfunktionen wieder verfügbar zu machen. Die Migration wird bis Februar abgeschlossen sein.</p>
<p>In einem zweiten Schritt wird der ganze Web-Auftritt zeitgerecht neu designt und anstatt in Angular in React oder Vue von Grund auf neu geschrieben.</p>

<h2>WuWhat? Über das WUZA-Projekt</h2>
<p wuzaSlideInto>
  Ja, die Namensgebung. Ein Punkt, nach welchem ich schon ein paar Mal gefragt wurde.
  Um die Antwort darauf zu geben, warum WUZA so heisst, wie ich es nun mal genannt habe, muss ich etwas ausholen.
</p>
<p wuzaSlideInto>
  Die ursprüngliche Idee war es, einen just-me-Namen zu wählen. Einen Ähnlichen, wie jenen auf
  <a href="https://github.com/just-me-" target=_blank>GitHub</a>. Dabei geht es mir primär darum,
  vorab auszusagen, auf dem Account zu machen und zu veröffentlichen, worauf ich Lust und Laune habe.
  Ohne darauf Rücksicht nehmen zu müssen, ob das ganze Projekt nun allgemein nützlich, "schön" und
  unter dem Strich öffentlichkeitstauglich ist. <br/>
  Diesem Grundsatz möchte ich auch weiterhin auf WUZA folgen.
</p>
<p wuzaSlideInto>
  Das Problem dabei war jedoch, dass solche Domainnamen, welche mir eingefallen sind,
  entweder bereits besetzt waren, oder aber ich hatte etwas an ihnen auszusetzen.
  Teils waren sie einfach schlicht zu lang oder zu "vertippanfällig". Sie haben mir nicht gefallen.
</p>
<p wuzaSlideInto>
  In einer besonders stressigen Zeit empfiehlt es sich, nach dem WUSA-Motto zu leben. (Ja, mit S.)
  Wusa ist ein Hollywood Ausdruck, welcher sich im allgemeinen Sprachgebrauch durchgesetzt hat.
  Vergleichbar ist dieser mit Arnolds &laquo;Hasta la vista, baby&raquo;,
  &laquo;Lauf, Forrest, lauf!&raquo; aus Forrest Gump oder &laquo;Houston - wir haben ein Problem&raquo;
  aus dem Film Apollo 13. <br/>
  Nach dem Motto <i>keep calm and repeat wusa</i> gilt es seine
  Ohrläppchen zu massieren, tief durchzuatmen und zu entspannen.
</p>
<p wuzaSlideInto>
  Um dem Ganzen eine eigene Note zu verpassen, wurde S durch Z ersetzt und der Slogan <i>Stay Calm & Be Yourself</i>
  gewählt. Also eine Verbindung der Grundsätze von WUSA und just-me. <br/>
  Und, ach ja: WUZA bedeutet im Internetslang übrigens auch <i>what's up?</i> Aber das tut im Grunde nichts zur Sache.
</p>
