<h1>Under Construction</h1>
<p>Die Seite von WUZA.ch wird momentan überarbeitet und wird im <b>Februar 2024</b> wieder verfügbar sein. Danke für Deine Geduld.</p>
<h2>Was wird überarbeitet</h2>
<p>In einem ersten Schritt wird die alte PHP-Website migriert, um die Kernfunktionen wieder verfügbar zu machen. Die Migration wird bis Februar abgeschlossen sein.</p>
<p>In einem zweiten Schritt wird der ganze Web-Auftritt zeitgerecht neu designt und anstatt in Angular in React oder Vue grundauf neu geschrieben.</p>
<p>Marcel Hess, Schützlerweg 6, 8560 Märstetten — hallo[at]wuza[dot]ch</p>
