<wuza-recipe title="Daisy's Chilli" [ingredients]="ingredients">

  <li>Das <span class="highlight">Hackfleisch</span> anbraten.</li>
  <li>Dann das <span class="highlight">Ketchup</span> mit dem Fleisch in einem ofenfesten Topf vermengen.</li>
  <li><span class="highlight">Zwiebeln und Knoblauch</span> kleingeschnitten anbraten.</li>
  <li>
    <span class="highlight">Gewürze</span>, Zucker und Essig untermengen. Dann mit dem Hack vermischen.
    Mit <span class="highlight">Salz und Pfeffer</span> abschmecken.
    Die vier <span class="highlight">Büchsen</span> dazugeben.
  </li>
  <li>In den Ofen bei <span class="highlight">175 °C für 2 Stunden</span> stellen.</li>
</wuza-recipe>
