<wuza-recipe title="Lasagne" [ingredients]="ingredients">
  <li>
    <span class="highlight">Butter und Mehl</span> im Verhältnis 1:1 in einem Topf - auf maximaler Hitze
    unter ständigem Umrühren - anbraten bis sich die Butter vollständig gelöst hat.
  </li>
  <li>Dann schluckweise die <span class="highlight">Milch</span> hinzugeben, damit eine dicke Konsistenz erzielt wird. Anschliessend nochmals kurz aufkochen und dann weg vom Herd nehmen.</li>
  <li>
    <span class="highlight">Zwiebeln</span> vierteln und <span class="highlight">Knoblauch</span> leicht pressen,
    dann der Masse beifügen. Etwa <span class="highlight">eine Stunde</span> ziehen lassen. Dann Zwiebeln und Knoblauch
    wieder herausnehmen.
  </li>
  <li>Unterdessen die <span class="highlight">Bolognese</span> zubereiten.</li>
  <li>Nun die <span class="highlight">Käsemischung</span> in die Masse geben und schmelzen wie ein Fondue. Mit <span class="highlight">Salz und Pfeffer</span> würzen.</li>
  <li>Eine <span class="highlight">Backform</span> mit etwas <span class="highlight">Butter</span> ausreiben.</li>
  <li>
    Nun eine Schicht <span class="highlight">Tomaten</span>sauce, dann Lasagne<span class="highlight">blätter</span>
    und dann <span class="highlight">Käse</span>sauce. Dann wieder Blätter, Tomatensauce, Blätter, Käse, etc.
    Die oberste Schicht ist <span class="highlight">Käse</span>.
  </li>
  <li>Bei <span class="highlight">185 °C für 50 Minuten</span> in den Ofen.</li>
</wuza-recipe>

<!-- TODO
<p>Das Rezept für die Bolognese findest Du <a href="<?php echo $this->_['url'].'view/recipe_bolognese'; ?>">hier</a>.</p> -->